@charset 'utf-8';
/*全局样式*/
*{
	padding: 0; 
	margin: 0; 
	line-height: normal; 
	-webkit-tap-highlight-color:rgba(0,0,0,0);
 }
html{ 
	width: 100%; 
	font-size: 14px;
	min-width: 1200px;
}
body{ 
	height: 100%; 
	font-family: 'Arail','microsoft yahei'; 
	background: #fff; 
	padding: 0; 
	margin: 0; 
}
ul,ol,li{
	list-style: none;
}
p,span,em,i{ 
	font-style: normal; 
	padding: 0; 
	margin: 0; 
}
h1,h2,h3,h4,h5,h6{ 
	padding: 0; 
	margin: 0; 
	background: none; 
}
a{ 
	color: #000; 
	text-decoration: none; 
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none; 
}
img{
	border: 0;
}



.w1200{
	width: 1200px;
	margin: auto;
}
.mt50{
	margin-top: 50px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.cl{
		overflow:hidden\0;
		zoom:1\0;
		*overflow:hidden;
		*zoom:1;
}
.cl::after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
.icon{
	background: url(../images/icon.png);
}



/* 头部 */
.slider li{
	width: 100%;
	height: 60px;
	display: block;
}
.head-tips{
	height: 40px;
	background: #f7f1f1;
}
.welcome{
	max-width: 40%;
	overflow: hidden;
}
.welcome p{
	font-size: 13px;
	color: #707580;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.help a{
	line-height: 40px;
	display: inline-block;
}
.helpcenter{
	color: #7f7171;
	position: relative;
	padding-right: 15px;
}
.helpcenter::after{
	content: '';
	position: absolute;
	right: 0;
	top: 35%;
	width: 1px;
	height: 30%;
	background: #bcbcbc;
	display: inline-block;
}
.service{
	color: #fd3d2a;
	padding-left: 15px;
}
.headbar{
	padding: 25px 0;
}

.logo{
	width: 290px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	*zoom:1;
	*display: inline;
}
.logo a,
.logo a img{
	display: block;
}
.menu-box{
	width: calc(100% - 290px - 50px);
	width: 860px\0;
	*width: 860px;
	margin-left: 50px;
}
.nav{
	width: 630px;
	height: 60px;
	/*overflow: hidden;*/
}
.nav ul{
	margin-top: 13px;
}
.nav ul li{
	margin: 0 15px;
	display: inline-block;
	*zoom:1;
	*display: inline;
}
.nav ul li a{
	font-size: 16px;
	line-height: 30px;
	padding: 0 5px;
	display: block;
	border-bottom: 2px solid transparent;
<<<<<<< HEAD

=======
>>>>>>> 466a97f873bd2a12349496b3d8a1c19af5a08264
}
.nav>ul>li.cur a{
	color: #fd3d2a;
	border-color: #fd3d2a;
}
.contact-box span{
	display: inline-block;
	vertical-align: middle;
	*zoom:1;
	*display: inline;
}
.phone{
	width: 43px;
	height: 43px;
	background-position: 0 0;
}
.contact-text{
	color: #808080
}
.contact-text em{
	font-family: 'Bodoni Bd BT';
	color: #fd3d2a;
	font-size: 22px;
	display: block;
        font-weight: bold;
}


/* 尾部样式 */
.footer{
	color: #bcc2e8;
	background: #2b2e42;
	padding: 35px 0 30px;
}
.footer-left{
	width: 660px;
}
.footer-nav a{
	color: #bcc2e8;
	margin: 0 15px;
	display: inline-block;
	*zoom:1;
	*display: inline;
}
.footer-nav a:first-child{
	margin-left: 0;
}
.copyright{
	font-size: 13px;
	color: #848494;
	margin-top: 45px;
}
.footer-right{
	width: 315px;
	text-align: right;
}
.footertel{
	color: #fff;
}
.footertel em{
	font-family: 'Bodoni Bd BT';
	font-size: 28px;
	color: #f39b55;
}
.companyname{
	margin-top: 10px;
}
.dingwei{
	width: 20px;
	height: 20px;
	background-position: -49px 0;
	margin-right: 3px;
	display: inline-block;
	vertical-align: middle;
	*zoom:1;
	*display: inline;
}


        .nav-right-yw {
                position: relative;
            }

            .nav ul li ul {
                display: none;
                position: absolute;
                z-index: 10000;
                top: 20px;
                left: -20px;
                width: 130px;
                text-align: center;
            }

            .nav-right-yw img {
                margin-bottom: 2px;
            }

            .nav ul li ul li {
                border-top: 1px solid #F5F5F5;
                background: #fff;
                width: 100%;
            }

            .nav ul li ul li a {
                font-size: 14px;
                color: #5E5A58;
                cursor: pointer;
            }

            .nav ul li ul li a:hover {
                background: #F7F7F7;
            }


.nav ul li ul li a{color:#333!important; border:0px!important;}






